@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    line-height: 1.4;
}
header{
    height: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2222;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Nav Bar */
.nav_container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.nav_container .logo{
    margin-top: 15px;
    font-weight:600;
    font-size: 32px;
    color:orange;
}
.nav_container ul li{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    color: orangered;
    border-bottom: 2px solid transparent;
}
.nav_container ul li:hover{
       border-bottom: 2px solid orangered;
}
/* Fruits Section */
.fruit_section .fruit_container {
    height: 600px;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    background-color:lightgreen;
}
.fruit_section .fruit_container h1{
    font-weight: 600;
    color: orangered;
    font-size: 30px;
}
.fruit_container .fruits{
    margin-top: 80px;
}
.fruit_container .fruits img{
    width: 200px;
    height: 200px;
}
.fruit_container .fruits h2,h3,p{
    color: darkslategray;
}
/* Footer */
.footer_container{
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
}
.footer_container .footer_logo{
    margin-top: 50px;
    font-weight: 600;
    font-size: 32px;
} 
.footer_container .link_list{
    margin-top: 50px;
    gap: 20px;
}
.footer_container .link_list h3{
    font-weight: 600;
    font-size: 20px;
    gap: 20px;
    color: white;
}
.link_list .icon_container{
    display: flex;
    justify-content:space-between ;
    gap: 20px;
}